* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  min-height: 100vh;
}

footer {
  border: 4px white solid;
}

.titulo {
  font-size: 70px;
  text-align: center;
  color: burlywood;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}

nav {
  text-decoration: none;
  background-image: linear-gradient(rgba(13, 13, 227, 0.768), rgba(74, 74, 209, 0.768));
  text-align: center;
  border: 2px solid antiquewhite;
}

.anav {
  text-decoration: none;
  color: antiquewhite;
}

.header {
  margin: 0;
  border: 4px white solid;
}

.narutito {
  width: 30px;
}

ul {
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
ul li {
  display: inline;
  margin: 0 30px;
  align-items: center;
}
ul a:hover {
  cursor: pointer;
  color: burlywood;
  box-shadow: 0px 0px 5px 5px rgba(110, 94, 50, 0.764);
}

.mains {
  text-align: center;
  border: solid 4px antiquewhite;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  background-color: black;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.content {
  width: 18%;
}

.borders {
  border: 4px white solid;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.titulomains {
  color: burlywood;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  margin-top: 30px;
}

h2 {
  color: antiquewhite;
}

p {
  color: antiquewhite;
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
}

h3 {
  color: antiquewhite;
}

.post-img-1 {
  background: url(./img/Amagami-san-Chi-no-Enmusubi-destacado-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-2 {
  background: url(/img/DekiruNeko01-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-3 {
  background: url(/img/PsychoPassProvidence001-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-4 {
  background: url(/img/Vanitas-no-Shuki-destacado-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-5 {
  background: url(/img/maison-ikkoku-destacado-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-6 {
  background: url(/img/GSC90160644_4-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-7 {
  background: url(/img/digimon-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-8 {
  background: url(/img/oshi-no-ko-manga-destacado-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-9 {
  background: url(/img/zagetsu.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-10 {
  background: url(/img/naruto-shippuden-figurine-naruto-400x240.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post {
  box-shadow: 0 1px 6px 1px rgba(255, 255, 255, 0.7803921569);
  overflow: hidden;
  transition: 0.2s;
}
.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}

.post-header {
  overflow: hidden;
  cursor: pointer;
}

.post:hover .post-img1,
.post:hover .post-img2,
.post:hover .post-img3,
.post:hover .post-img4,
.post:hover .post-img5,
.post:hover .post-img6,
.post:hover .post-img7,
.post:hover .post-img8,
.post:hover .post-img9,
.post:hover .post-img10 {
  transform: scale(1.1);
}

.post-body {
  padding: 1px;
  text-align: center;
  width: 100%;
}
.post-body span {
  display: inline-block;
  color: #999;
  margin-bottom: 10px;
}
.post-body h2 {
  margin-bottom: 15px;
}
.post-body p {
  margin-bottom: 10px;
}

.post-body .post-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: rgba(13, 13, 227, 0.768);
  color: #fff;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px;
  transition: 0.2s;
}
.post-body .post-link:hover {
  background: rgba(13, 13, 247, 0.801);
  box-shadow: 1px 1px 1px 1px;
  transform: translateY(-2px);
}

.titulotop10 {
  color: burlywood;
  margin-top: 50px;
}

.coder {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#icon {
  width: 40px;
  height: 40px;
}

.titulomain {
  color: burlywood;
  font-size: 40px;
  text-decoration: underline;
  margin: 30px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  li {
    display: inline;
    margin: 20px;
  }
  .content {
    width: 25%;
    margin: 30px;
  }
}
@media (min-width: 645px) and (max-width: 1000px) {
  li {
    display: inline;
    font-size: 23px;
    margin: 20px;
  }
  .content {
    width: 38%;
    margin: 25px;
  }
}
@media (min-width: 400px) and (max-width: 645px) {
  .anav {
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  ul {
    margin: 0px;
  }
  .titulo {
    font-size: 50px;
  }
  .content {
    width: 90%;
  }
  .videostop10 {
    width: 80%;
  }
}
@media (min-width: 255px) and (max-width: 400px) {
  .anav {
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  ul {
    margin: 0px;
  }
  .titulo {
    font-size: 30px;
  }
  .content {
    width: 90%;
  }
  .titulomains {
    font-size: 30px;
  }
  .videostop10 {
    width: 80%;
  }
}
@media (min-width: 10px) and (max-width: 255px) {
  .anav {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  ul {
    margin: 0px;
  }
  .titulo {
    font-size: 15px;
  }
  .content {
    width: 90%;
    height: 50%;
  }
  .titulomains {
    font-size: 15px;
  }
  .videostop10 {
    width: 80%;
  }
  h2 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
