.coder{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#icon{
    width: 40px;
    height: 40px;
    }

    .titulomain{
        color: burlywood;
        font-size: 40px;
        text-decoration: underline;
        margin: 30px;
    }