.coder{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    text-decoration: none;
}

   #icon{
    width: 40px;
    height: 40px;
    }

    .titulomain{
        color: burlywood;
        font-size: 40px;
        text-decoration: underline;
        margin: 30px;
    }
    
    .mainsacercade{
        text-align: center;
        border: solid 4px antiquewhite;
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        background-color: black;
       }

       .fotoanimeacercade{
        width: 100%;
        height: 100%;
       }

       .parrafoacercade{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #26262663;
       }