.titulotop10{
    color: burlywood;
    margin-top: 50px;
    text-decoration: underline;

}

.parraffo10{
    color: antiquewhite;
    text-align: center;
    margin: 40px 60px;
    background-color: #7a747462;
}